<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration at Ads Portal</title>
</head>
<body>
    <h1>Dear {{ instance.username }}!</h1>
    <p>To finish your registration at our portal, please enter the following code at the confirmation page:
    <h2> {{ instance.code }} </h2>
    <p> If the confirmation page did not open automatically, please follow the link to <a href="http://127.0.0.1:8000/personal/finish/">our site</a>!</p>
</body>
</html>